In [1]:
#Importing Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_auc_score,accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD
import pickle
import warnings
warnings.filterwarnings("ignore")

In [2]:
df1=pd.read_csv("movies.csv")
print("Dimension of Dataframe is : ",df1.shape)
df1.head()

Dimension of Dataframe is :  (10329, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
# Converting into lowercase
df1['title'] = df1['title'].str.lower()
df1['genres'] = df1['genres'].str.lower()
df1['title'][434]

'made in america (1993)'

In [4]:
df1['genres'] = df1['genres'].str.replace('|', ' ')
df1.head()

,movieId,title,genres
0,1,toy story (1995),adventure animation children comedy fantasy
1,2,jumanji (1995),adventure children fantasy
2,3,grumpier old men (1995),comedy romance
3,4,waiting to exhale (1995),comedy drama romance
4,5,father of the bride part ii (1995),comedy

In [5]:
df1[df1['movieId']==7]

   movieId           title          genres
6        7  sabrina (1995)  comedy romance

In [6]:
df1=df1.iloc[:-4]

In [7]:
# Total number of different movies
print("Total Different Movies are :  ",len(df1['title'].unique()))

Total Different Movies are :   10323

In [8]:
df1['genres'].value_counts() # More genre is drama

drama                                                       1384
comedy                                                       824
comedy drama                                                 465
drama romance                                                421
comedy romance                                               363
                                                            ...
action adventure animation comedy fantasy mystery sci-fi       1
action adventure children comedy fantasy sci-fi                1
animation horror mystery thriller                              1
action comedy crime fantasy thriller imax                      1
action adventure animation children comedy western             1
Name: genres, Length: 938, dtype: int64

In [9]:
df1.loc[0:5,'genres']

0    adventure animation children comedy fantasy
1                     adventure children fantasy
2                                 comedy romance
3                           comedy drama romance
4                                         comedy
5                          action crime thriller
Name: genres, dtype: object

In [10]:
tfidf=TfidfVectorizer(stop_words='english').fit_transform(df1['genres'])
tfidf.shape

(10325, 23)

In [11]:
matrix_1=pd.DataFrame(tfidf.toarray(),index=df1['title'].tolist())

In [12]:
matrix_1.head(20)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
toy story (1995),0.000000,0.404089,0.539215,0.501501,0.263883,0.000000,0.0,0.000000,0.474153,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
jumanji (1995),0.000000,0.505264,0.000000,0.627066,0.000000,0.000000,0.0,0.000000,0.592871,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
grumpier old men (1995),0.000000,0.000000,0.000000,0.000000,0.602438,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.798166,0.0,0.000000,0.0,0.0
waiting to exhale (1995),0.000000,0.000000,0.000000,0.000000,0.541474,0.000000,0.0,0.438349,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.717395,0.0,0.000000,0.0,0.0
father of the bride part ii (1995),0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
heat (1995),0.579228,0.000000,0.000000,0.000000,0.000000,0.618246,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.531287,0.0,0.0
sabrina (1995),0.000000,0.000000,0.000000,0.000000,0.602438,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.798166,0.0,0.000000,0.0,0.0
tom and huck (1995),0.000000,0.627426,0.000000,0.778676,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
sudden death (1995),1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
goldeneye (1995),0.563474,0.644497,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.516837,0.0,0.0
"american president, the (1995)",0.000000,0.000000,0.000000,0.000000,0.541474,0.000000,0.0,0.438349,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.717395,0.0,0.000000,0.0,0.0
dracula: dead and loving it (1995),0.000000,0.000000,0.000000,0.000000,0.529082,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
balto (1995),0.000000,0.481078,0.641947,0.597049,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
nixon (1995),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
cutthroat island (1995),0.551521,0.630825,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.545788,0.0,0.000000,0.0,0.0
casino (1995),0.000000,0.000000,0.000000,0.000000,0.000000,0.870079,0.0,0.492912,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
sense and sensibility (1995),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.521399,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.853313,0.0,0.000000,0.0,0.0
four rooms (1995),0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
ace ventura: when nature calls (1995),0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
money train (1995),0.506103,0.000000,0.000000,0.000000,0.378024,0.540195,0.0,0.306028,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.464214,0.0,0.0

In [13]:
# saving dataframe to csv for later use in main file
df1.to_csv('data.csv',index=False)

# Creating Collaboration Filtering Using Rating dataset

In [14]:
#Reading Ratings.csv File
df2=pd.read_csv("ratings.csv")
print("Dimension of Rating Dataframe :",df2.shape)
df2.head()

Dimension of Rating Dataframe : (105339, 4)

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [15]:
# Total number of different movies
print("Total Different Movies are :  ",len(df2['movieId'].unique()))

Total Different Movies are :   10325

In [16]:
#Mergeing Two Dataframes
rating=pd.merge(df1[['movieId']],df2,on='movieId',how='right')

In [17]:
# Creating table that contains only movieId,userId and ratings
rating_f=rating.pivot(index='movieId',columns='userId',values='rating').fillna(0)

In [18]:
rating_f.head()

userId,1,2,3,4,5,6,7,8,9,10,...,659,660,661,662,663,664,665,666,667,668
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,5.0,0.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,4.0,5.0,3.0,0.0,0.0,0.0,0.0,3.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,3.0
3,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5

In [19]:
rating_f.shape

(10325, 668)

# Since ot is too large So we will use SVD to Decompose it

In [20]:
svd=TruncatedSVD(n_components=200).fit_transform(rating_f)
matrix_2=pd.DataFrame(svd,index=df1['title'].tolist())
matrix_2.shape

(10325, 200)

In [21]:
matrix_2.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
toy story (1995),39.537219,-8.970713,10.000227,0.731055,4.866800,9.104942,2.767283,3.932202,-4.136116,-4.210651,...,-0.129397,-1.939197,0.436746,-1.352985,-1.704397,-0.537322,0.901216,-1.182599,-3.002100,1.849590
jumanji (1995),17.361962,-1.567811,4.453533,6.037296,0.477951,1.383908,4.717557,1.832268,2.687145,4.551655,...,0.331932,0.874565,-1.104106,-0.512961,-0.916625,0.247094,-0.948007,0.180516,-0.488580,-0.279061
grumpier old men (1995),7.128164,-2.930619,-0.503140,5.679298,-3.217641,0.292687,1.026978,2.252095,1.345687,-4.060703,...,-0.681065,-1.310225,0.354678,0.196093,-0.843496,-0.055028,-0.075253,0.571369,-0.549489,0.016811
waiting to exhale (1995),1.940867,-2.005853,-0.856432,1.288147,-0.163616,-1.361830,-0.651205,1.067696,-0.384300,-0.765440,...,-0.253037,0.254282,-0.082548,0.048793,-0.262537,-0.142115,-0.178229,0.120081,-0.226751,0.076608
father of the bride part ii (1995),7.420355,-2.950298,-0.722306,5.628852,-1.242630,2.614649,-1.083078,1.764879,-0.650603,-3.917611,...,0.444577,-0.592111,-1.003490,1.491482,-0.721715,-0.828091,-0.646714,-1.789249,-0.287241,-0.688467

# Creating and Running ContentBased Filtering using K-NearestNeighbors

In [22]:
matrix_3=pd.DataFrame(rating_f,index=df1['title'].tolist()).fillna(0)
matrix_3.shape

(10325, 668)

In [23]:
# Since this data contains many value zero.So we will put it into sparse matrix
movie_features_df_matrix = csr_matrix(matrix_3.values)
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [24]:
print("Shape after storing in Sparse matrix : ",movie_features_df_matrix .shape)

Shape after storing in Sparse matrix :  (10325, 668)

In [25]:
query_index = np.random.choice(matrix_3.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(matrix_3.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

5185

In [26]:

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(matrix_3.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, matrix_3.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for adam's rib (1949):

1: lies my father told me (1975), with distance of 1.0:
2: 49th parallel (1941), with distance of 1.0:
3: lady vengeance (sympathy for lady vengeance) (chinjeolhan geumjassi) (2005), with distance of 1.0:
4: district 13 (banlieue 13) (2004), with distance of 1.0:
5: voices of a distant star (hoshi no koe) (2003), with distance of 1.0:

# Running Content / Collaborative and Cosine similarity

In [27]:
a_1=np.array(matrix_1.loc['toy story (1995)']).reshape(1,-1)
a_2=np.array(matrix_2.loc['toy story (1995)']).reshape(1,-1)
# Calculate the similarity of this two movie with others

score_1=cosine_similarity(matrix_1,a_1).reshape(-1)
score_2=cosine_similarity(matrix_2,a_2).reshape(-1)

#Average Measure of both content based and collaborated based filtering
hybrid=((score_1 + score_2)/2.0)

#Form a dataframe for similar movies
Df=pd.DataFrame({'Content': score_1,'Collaborative':score_2,'Hybrid':hybrid},index=matrix_2.index)
# Sort on the basis of Either Content,collaborative or hybrid
# Here Content
Df.sort_values('Content',ascending=False,inplace=True)
Df[1:].head(15)

,Content,Collaborative,Hybrid
"adventures of rocky and bullwinkle, the (2000)",1.000000,0.152065,0.576032
shrek the third (2007),1.000000,0.267680,0.633840
"wild, the (2006)",1.000000,0.032660,0.516330
ducktales: the movie - treasure of the lost lamp (1990),1.000000,0.353814,0.676907
asterix and the vikings (astérix et les vikings) (2006),1.000000,0.054779,0.527389
"monsters, inc. (2001)",1.000000,0.515758,0.757879
"tale of despereaux, the (2008)",1.000000,0.041708,0.520854
"emperor's new groove, the (2000)",1.000000,0.334770,0.667385
turbo (2013),1.000000,0.094578,0.547289
"boxtrolls, the (2014)",1.000000,0.138619,0.569310
toy story 2 (1999),1.000000,0.617352,0.808676
antz (1998),1.000000,0.447152,0.723576
pokemon 4 ever (a.k.a. pokémon 4: the movie) (2002),0.964555,0.175325,0.569940
"black cauldron, the (1985)",0.964555,0.165146,0.564850
"lord of the rings, the (1978)",0.964555,0.226364,0.595459

In [28]:
sim_1=cosine_similarity(matrix_1)
sim_2=cosine_similarity(matrix_2)

In [ ]:
# saving the similarity score matrix in a file for later use
np.save('sim_1', sim_1)
np.save('sim_2', sim_2)

In [ ]:
# Saving into pickle
pickle.dump(sim_1,open('sim_1.pkl','wb'))
pickle.dump(sim_2,open('sim_2.pkl','wb'))